// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');

// // adminlte 3

@import '../assets/themes/adminlte/plugins/fontawesome-free/css/all.min.css';
@import '../assets/themes/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
@import '../assets/themes/adminlte/dist/css/adminlte.min.css';
// @import "adminlte/dist/css/adminlte.min.css";
@import "/node_modules/flag-icons/css/flag-icons.min.css";
//
// Modal
.modal {
    pointer-events: none;
    position: fixed;
    inset: 0px;
    margin: 0px;
    display: grid;
    height: 100%;
    max-height: none;
    width: 100%;
    max-width: none;
    justify-items: center;
    padding: 0px;
    opacity: 0;
    overscroll-behavior: contain;
    overscroll-behavior: contain;
    z-index: 999;
    background-color: transparent;
    color: inherit;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
}
:where(.modal) {
    align-items: center;
}
.modal-open,
.modal:target,
.modal-toggle:checked + .modal,
.modal[open] {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.modal-open,
.modal:target,
.modal-toggle:checked + .modal,
.modal[open] {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.modal-open,
.modal:target,
.modal-toggle:checked + .modal,
.modal[open] {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    overflow: hidden;
}
:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    overflow: hidden;
}
:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    overflow: hidden;
}
.modal:not(dialog:not(.modal-open)),
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    animation: modal-pop 0.2s ease-out;
}
.modal:not(dialog:not(.modal-open)),
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    animation: modal-pop 0.2s ease-out;
}
.modal-open .modal-box,
.modal-toggle:checked + .modal .modal-box,
.modal:target .modal-box,
.modal[open] .modal-box {
    --tw-translate-y: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    background-color: rgb(255, 255, 255);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.modal-open .modal-box,
.modal-toggle:checked + .modal .modal-box,
.modal:target .modal-box,
.modal[open] .modal-box {
    --tw-translate-y: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.modal-open .modal-box,
.modal-toggle:checked + .modal .modal-box,
.modal:target .modal-box,
.modal[open] .modal-box {
    --tw-translate-y: 0px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}



.multiselect-tags-search {
    color: blue !important;
    position: absolute!important;
    left: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
    border: 0!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    outline: none!important;
    padding: 0!important;
    font-size: inherit!important;
    font-family: inherit!important;
    box-sizing: border-box!important;
    width: 100%!important;
    height:30px!important;
}
.multiselect-option {
    color: black !important;
}

.multiselect-option.is-pointed {
    background: var(--ms-option-bg-pointed, #10b981) !important;
    color: var(--ms-option-color-pointed, #ffffff) !important;
}
.multiselect-single-label{
    color: blue !important;
}

.vti__input {
    color: #e3342f !important;
}

.unselectable {
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    color: #cc0000 !important;
  }


//   calendar
.calendar-icon {
    background-image: url(../assets/img/calendar-icon.png);
    background-size: cover;
    height: 2.5rem;
    width: 2.5rem;
}
.calendar-icon .month {
    color: #fff;
    font-size: 8px;
    height: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 2.5rem;
}
.font-medium {
    font-weight: 500;
}

.custom-modal{
    min-width: 500px!important;
}
.multiselect-container {
    @apply flex flex-col gap-3 mt-2 items-start;
    @apply dark:text-white text-white;
}

label {
    @apply leading-none font-normal text-sm text-black ;
    font-weight: 700;

}

select {
    @apply py-1 px-3 pr-9 block w-full border-gray-200 shadow-sm text-sm rounded-lg;
    @apply focus:border-blue-500 focus:ring-blue-500;
    @apply bg-white border-gray-700 text-black; /* Adjusted line for text and background color */
    @apply h-10;
}

option {
    @apply text-black bg-white; /* Ensure text is black on a white background for all options */
}

/* Styling for the disabled option to mimic placeholder appearance */
select option[disabled] {
    color: black;
    background-color: white;
}

.message {
    @apply text-sm;
}

//error:

//show kind of file attached
.file_attachment {
    width: 220px;
    height: 147px;
}

// tab vanbar
.navbar-vertical:not([style*="display: none"])~.main-content .container-fluid {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.items-center {
    align-items: center;
}

.flex {
    display: flex;
}
.header-pretitle {
    color: #4b6c92;
    letter-spacing: .08em;
    text-transform: uppercase;
}
leading-10 {
    line-height: 2.5rem;
}
.header-title {
    margin-bottom: 0;
}
.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1rem* var(--tw-space-x-reverse));
}

/* .btn.btn-icon {
    align-items: center;
    color: #4b6c92;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    line-height: 1;
    padding: 0;
    width: 2.5rem;
} */
.btn.btn-icon svg {
    height: 1.25rem;
    width: 1.25rem;
}

.fa-icon {
    height: 4px;
    vertical-align: -.125em;
    width: 1em;
}
.fill-current {
    fill: currentColor;
}
.self-end {
    align-self: flex-end;
}
.dropdown, .dropup {
    position: relative;
}
.btn.btn-icon {
    align-items: center;
    color: #4b6c92;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    line-height: 1;
    padding: 0;
    width: 2.5rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.text-muted {
    color: rgb(75 108 146 / var(--tw-text-opacity));
}
.text-black, .text-muted {
    --tw-text-opacity: 1;
}
.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}
.dropdown-ellipses {
    color: #d2ddec;
    font-size: 1.0625rem;
}
.dropdown-toggle {
    white-space: nowrap;
}
.btn.btn-icon {
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    line-height: 1;
    padding: 0;
    width: 2.5rem;
}
badge-soft {
    background-color: #edf2f9;
    color: #4b6c92;
}
.badge {
    background-color: #4b6c92;
    color: #fff;
    vertical-align: middle;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

// agenda list
.font-medium {
    font-weight: bolder;
}
ol.agenda-list,
ol.agenda-list > li > ol,
ol.agenda-list > li > ol > li > ol {
    counter-reset: list-counter;
    left: -9px;
    list-style: none;
    margin-right: -9px;
    padding-left: 0;
    position: relative;
}
ol.agenda-list > li,
ol.agenda-list > li > ol > li,
ol.agenda-list > li > ol > li > ol > li {
    counter-increment: list-counter;
    padding-left: 32px;
    position: relative;
}
.hover\:cursor-pointer:hover {
    cursor: pointer;
}

.pl-7 {
    padding-left: 1.75rem;
}
.p-2 {
    padding: 0.5rem;
}
.border-blue {
    --tw-border-opacity: 1;
    border-color: rgb(64 104 235 / var(--tw-border-opacity));
}
.items-start {
    align-items: flex-start !important;
}
.hidden {
    display: none !important;
}

.register-box {
    width: 600px!important;
}
// .login-box {
//     width: 600px!important;
// }

// mobile resnsive
@media (max-width: 576px) {
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .profile-user-img {
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .profile-user-img {
        width: 80px;
        height: 80px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .profile-user-img {
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 1025px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .profile-user-img {
        width: 120px;
        height: 120px;
    }
}
.calendaheight{
    height: 100px!important;
    margin-bottom: 5px!important;
}
.customonth{
    margin-top: 10px !important;
    font-size: 17px !important;
    color: white !important;
    margin-bottom: 10px !important;
}
.customday{
    font-size: 24px!important;
}
.customyear{
    font-size: 19px!important;
}
.custom-size{
    width: 142px!important;
}
.meeting-custom-size {
    width: 114px !important;
}
.products-list .product-info {
    margin-left: 129px!important;
}